*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  display: block;
  clear: both;
  content: "";
}
.nav{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}
.nav-list{
  position: relative;
  width: 1024px;
  margin: 0 auto;
  text-align: right;
}
.nav-list a{
  text-decoration: none;
  color: #FAFAFA
}
.nav-icon{
  position: absolute;
  height: 70px;
  left: 0;
  top: 0;
}
.nav-list-item{
  list-style: none;
  line-height: 70px;
  padding: 0 30px;
  font-size: 16px;
  display: inline-block;
}
.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.headline{
  padding-top: 200px;
  font-size: 64px;
  color: #FAFAFA;
}
.headline-text{
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}
.main1, .main3{
  width: 100%;
  background-color: #ECEFF1;
}
.main2, .main4{
  width: 100%;
}
#portfolio{
  width: 920px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}
#feature{
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}
#profile{
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}
#contact{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}
.sub-headline{
  font-size: 32px;
  color: #000000;
}
.sub-headline::after{
  display: block;
  content: "";
  width: 70px; /*下線の幅*/
  height: 3px; /*下線の太さ*/
  background-color: #EC715F; /*下線の色*/
  margin: 8px auto 0 auto;
}
.sub-headline-text{
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}
.images{
  float: left;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.images:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin: 0 10px 10px 0;
  }
.images:nth-child(2) {
  background-image: url(img/websuku.png);
  margin: 0 10px 10px 0;
  }
.images:nth-child(3) {
  background-image: url(img/write.jpg);
  }
.images:nth-child(4) {
  background-image: url(img/webcamp.png);
  margin: 0 10px 10px 0;
  }
.images:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin: 0 10px 10px 0;
  }
.images:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  }
.strength{
  float: left;
  width: 320px;
  height: auto;
  margin-right: 10px;
  text-align: center;
  font-size: 60px;
}
.strength:last-child{
  margin-right: 0;
}
.strength-title{
  padding: 10px 0;
  font-size: 20px;
}
.strength-text{
  text-align: left;
  font-size: 16px;
}
.my-face{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto
}
.left-side{
  float: left;
  width: 50%;
}
.right-side{
  float: right;
  width: 50%;
  text-align: left;
}
.my-face{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto
}
.description{
  font-size: 20px;
  padding-bottom: 5px;
}
.description-text{
  font-size: 16px;
  padding-bottom: 20px;
}
.left-info{
  width: 170px;
  margin: 0 auto;
  text-align: left;
}
.right-info{
  width: 210px;
  margin: 0 auto;
  text-align: left;
}
.info{
  font-size: 20px;
  padding-bottom: 5px;
}
.detail{
  padding-bottom: 20px;
}
.detail a{
  color: #000000;
}
.icon i{
  display: inline-block;
  margin-right: 20px;
  font-size: 50px;
}
footer{
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  line-height: 60px;
}

.copyright {
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
}
@media screen and (max-width:768px){
  .nav{
    height: 50px;
  }
  .nav-list{
    width: 100%
  }
  .hamburger-box{
    float: right;
    width: 40px;
		height: 40px;
		margin-right: 5%;
		border: 1px solid #FAFAFA;
		margin-top: 5px;
		margin-bottom: 5px;
  }
  .bar{
    display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #FAFAFA;
  }
  .bar:first-child{
		margin-top: 10px;
	}
  .nav-list-item{
    display: none;
  }
  .nav-icon{
    height: 50px;
  }
  .main-visual{
    background-image: url(img/code.png);
  }
  #portfolio,#feature,#profile,#contact{
    width: 90%;
    margin: 0 auto;
  }
  .images:nth-child(even){
    float: none;
    margin: 0 auto 10px;
  }
  .images:nth-child(odd){
    display: none;
  }
  .strength{
    float: none;
    margin: 0 auto;
  }
  .strength:last-child{
    margin: 0 auto;
  }
  .left-side{
    width: 90%;
    float: none;
    margin: 0 auto;
  }
  .right-side{
    width: 90%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .left-info,.right-info{
    text-align: center;
  }
  .icon i{
    margin-right: 8px;
  }
  .strength-text{
    margin-bottom: 10px;
  }
  .my-face{
    margin-bottom: 20px;
  }
  .portfolio-image,.feature-image,.information{
    margin: 0 auto;
  }
}
