*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.title{
padding: 20px;
}
main{
  width: 840px;
  margin: 50px auto;
  text-align: left;
}
.plan{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}
